from datetime import datetime
from decimal import Decimal
from typing import Annotated
from pydantic import Field
from framework.common.schemas import BaseVO
from framework.common.schemas import BaseRequestVO
from framework.common.contracts import SnowflakeIdInput,SnowflakeIdStr,SnowflakeReferenceInput,SnowflakeCursorStr
from framework.starter_excel.public import ExcelColumn
from framework.starter_excel.public import DictConverter
from framework.starter_excel.public import JsonConverter

class {{ class_name }}RespVO(BaseVO):
    id: Annotated[SnowflakeIdStr,Field(...),ExcelColumn(title="编号")]
{% for column in list_result_columns %}
{% if column.field_name not in ['id','creator','create_time','updater','update_time','deleted'] %}
    {{ column.field_name }}: Annotated[{{ column | response_type }}{{ ' | None' if column.nullable else '' }},Field({{ 'None' if column.nullable else '...' }},description={{ column.column_comment | pyrepr }}),ExcelColumn(title={{ column.column_comment | pyrepr }}{% if column.dict_type %},converter=DictConverter({{ column.dict_type | pyrepr }}){% elif column.field_type == 'json' %},converter=JsonConverter(){% endif %}) ]
{% endif %}
{% endfor %}
    create_time: Annotated[datetime,Field(...),ExcelColumn(title="创建时间")]
